{% comment %}
    Determine whether to show selectors
{% endcomment %}
{%- assign show_country_selector = section.settings.show_currency_selector -%}
{%- assign country_selector = false -%}
{%- if show_country_selector and localization.available_countries.size > 1 -%}
    {%- assign country_selector = true -%}
{%- endif -%}

{%- assign locale_selector = false -%}
{%- if section.settings.show_locale_selector and localization.available_languages.size > 1 -%}
    {%- assign locale_selector = true -%}
{%- endif -%}

<footer class="site-footer small--text-center" role="contentinfo" data-section-id="{{ section.id }}" data-section-type="footer-section">
    <div class="foot-wrap">
        <div class="img_wrap">
            <img src="{{ section.settings.logo | img_url: '300x300' }}" alt="">
        </div>

        <div class="menu_wrap">
            {% for link in linklists[section.settings.footer_link_list].links %}
                <div class="menu_box">
                    <p>{{ link.title }}</p>
    
                    <ul class="no-bullets site-footer__linklist">
                    {% for sub_link in link.links %}
                        <li><a href="{{ sub_link.url }}">{{ sub_link.title }}</a></li>
                    {% endfor %}
                    </ul>
                </div>
            {% endfor %}

            <div class="menu_box">
                <p>FOLLOW</p>
                <ul class="no-bullets site-footer__linklist">
                    {% if settings.social_facebook_link != blank %}
                        <li>
                            <a href="{{ settings.social_facebook_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Facebook' }}">
                                Facebook
                            </a>
                        </li>
                    {% endif %}
                    {% if settings.social_twitter_link != blank %}
                        <li>
                            <a href="{{ settings.social_twitter_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Twitter' }}">
                                Twitter
                            </a>
                        </li>
                    {% endif %}
                    {% if settings.social_pinterest_link != blank %}
                        <li>
                            <a href="{{ settings.social_pinterest_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Pinterest' }}">
                                Pinterest
                            </a>
                        </li>
                    {% endif %}
                    {% if settings.social_instagram_link != blank %}
                        <li>
                            <a href="{{ settings.social_instagram_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Instagram' }}">
                                Instagram
                            </a>
                        </li>
                    {% endif %}
                    {% if settings.social_snapchat_link != blank %}
                        <li>
                            <a href="{{ settings.social_snapchat_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Snapchat' }}">
                                Snapchat
                            </a>
                        </li>
                    {% endif %}
                    {% if settings.social_google_plus_link != blank %}
                        <li>
                            <a href="{{ settings.social_google_plus_link | escape }}" rel="publisher" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Google Plus' }}">
                                Google Plus
                            </a>
                        </li>
                    {% endif %}
                    {% if settings.social_tumblr_link != blank %}
                        <li>
                            <a href="{{ settings.social_tumblr_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Tumblr' }}">
                                Tumblr
                            </a>
                        </li>
                    {% endif %}
                    {% if settings.social_youtube_link != blank %}
                        <li>
                            <a href="{{ settings.social_youtube_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'YouTube' }}">
                                YouTube
                            </a>
                        </li>
                    {% endif %}
                    {% if settings.social_vimeo_link != blank %}
                        <li>
                            <a href="{{ settings.social_vimeo_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Vimeo' }}">
                                Vimeo
                            </a>
                        </li>
                    {% endif %}
                    {% if settings.social_fancy_link != blank %}
                        <li>
                            <a href="{{ settings.social_fancy_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Fancy' }}">
                                Fancy
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>

        <div class="info_box">

            <div>
                {%- liquid
                    assign selectors_form_class = "selectors-form"
                -%}
                {%- form 'localization', class: selectors_form_class -%}
                    {%- if locale_selector -%}
                        <div class="selectors-form__item">
                            <h2 class="visually-hidden" id="lang-heading">
                            {{ 'general.language.dropdown_label' | t }}
                            </h2>
            
                            <div class="disclosure" data-disclosure-locale>
                            <button type="button" class="disclosure__toggle" aria-expanded="false" aria-controls="lang-list" aria-describedby="lang-heading" data-disclosure-toggle>
                                {{ localization.language.endonym_name }}
                            </button>
                            <ul id="lang-list" class="disclosure-list" data-disclosure-list>
                                {%- for language in localization.available_languages -%}
                                <li class="disclosure-list__item {% if language.iso_code == localization.language.iso_code %}disclosure-list__item--current{% endif %}">
                                    <a class="disclosure-list__option" href="#" lang="{{ language.iso_code }}" {% if language.iso_code == localization.language.iso_code %}aria-current="true"{% endif %} data-value="{{ language.iso_code }}" data-disclosure-option>
                                    {{ language.endonym_name }}
                                    </a>
                                </li>
                                {%- endfor -%}
                            </ul>
                            <input type="hidden" name="locale_code" id="LocaleSelector" value="{{ localization.language.iso_code }}" data-disclosure-input/>
                            </div>
                        </div>
                    {%- endif -%}
        
                    {%- if country_selector -%}
                        <div class="selectors-form__item">
                            <h2 class="visually-hidden" id="country-heading">
                            {{ 'general.country.dropdown_label' | t }}
                            </h2>
                            <p>LOCATION</p>

                            {%- assign current_currency_symbol = localization.country.currency.symbol -%}
                            {%- assign current_currency_iso_code = localization.country.currency.iso_code -%}
                            <div class="disclosure" data-disclosure-country>
                            <button type="button" class="disclosure__toggle" aria-expanded="false" aria-controls="country-list" aria-describedby="country-heading" data-disclosure-toggle>
                                {%- if current_currency_symbol -%}
                                {{ localization.country.name }} ({{ current_currency_iso_code }} {{ current_currency_symbol }})
                                {%- else -%}
                                {{ localization.country.name }} ({{ current_currency_iso_code }})
                                {%- endif -%}
                            </button>
                            <ul id="country-list" class="disclosure-list" data-disclosure-list>
                                {% for country in localization.available_countries %}
                                {%- assign currency_symbol = country.currency.symbol -%}
                                {%- assign currency_iso_code = country.currency.iso_code -%}
                                <li class="disclosure-list__item {% if country.iso_code == localization.country.iso_code %}disclosure-list__item--current{% endif %}">
                                    <a class="disclosure-list__option" href="#" {% if country.iso_code == localization.country.iso_code %}aria-current="true"{% endif %} data-value="{{ country.iso_code }}" data-disclosure-option>
                                    {%- if currency_symbol -%}
                                        {{ country.name }} ({{ currency_iso_code }} {{ currency_symbol }})
                                    {%- else -%}
                                        {{ country.name }} ({{ currency_iso_code }})
                                    {%- endif -%}
                                    </a>
                                </li>
                                {%- endfor -%}
                            </ul>
                            <input type="hidden" name="country_code" id="CountrySelector" value="{{ localization.country.iso_code }}" data-disclosure-input/>
                            </div>
                        </div>
                    {%- endif -%}
                {%- endform -%}            

                {%- if section.settings.show_payment_icons -%}
                    {%- unless shop.enabled_payment_types == empty -%}
                        <span class="visually-hidden">{{ 'general.payment.method' | t }}</span>
                        <ul class="inline-list payment-icons site-footer__payment-icons">
                        {%- for type in shop.enabled_payment_types -%}
                            <li>
                            {{ type | payment_type_svg_tag: class: 'icon' }}
                            </li>
                        {%- endfor -%}
                        </ul>
                    {%- endunless -%}
                {%- endif -%}
            </div>

            <p class="site-footer__copyright-content">
                &copy; {{ 'now' | date: '%Y' }} {{ shop.name | link_to: routes.root_url }}
                <br>
                CORNELIS SCHUYTSTRAAT 48
                <br>
                HELLO@SALLE-PRIVÉE.COM
                  
            </p>

        </div>
    </div>
</footer>

{% style %}
#shopify-section-{{ section.id }} footer {
    padding-bottom: 0px;
}
#shopify-section-{{ section.id }} .foot-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid #8A8585;
    margin: 0 3.4vw;
    padding: 3.4vw 0;
}
#shopify-section-{{ section.id }} .img_wrap img {
    width: 270px;
    height: auto;
    object-fit: cover;
}

#shopify-section-{{ section.id }} .menu_wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
    padding: 0 3vw;
}
#shopify-section-{{ section.id }} .menu_box {
    
}
#shopify-section-{{ section.id }} .menu_box p,
#shopify-section-{{ section.id }} .menu_box li {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 14px;
}
#shopify-section-{{ section.id }} .menu_box li a {
    color: #197622;
    text-transform: uppercase;
}

#shopify-section-{{ section.id }} .info_box {
    width: 270px;
    height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}
#shopify-section-{{ section.id }} .info_box form {
    justify-content: center;
    margin: 0;
}
#shopify-section-{{ section.id }} .info_box form .selectors-form__item {
    margin: 0;
    margin-bottom: 15px;
    width: 100%;
}
#shopify-section-{{ section.id }} .info_box form .selectors-form__item p {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 8px;
}
#shopify-section-{{ section.id }} .info_box form .selectors-form__item .disclosure__toggle {
    padding-left: 0px;
    background-color: transparent;
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
}
#shopify-section-{{ section.id }} .info_box form .selectors-form__item .disclosure-list__option {
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
}
#shopify-section-{{ section.id }} .site-footer__copyright-content,
#shopify-section-{{ section.id }} .site-footer__copyright-content * {
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
}



@media screen and (max-width: 1024px){
    #shopify-section-footer .img_wrap {
        align-self: center;
    }
    #shopify-section-footer .img_wrap img {
        width: 135px;
        height: auto;
    }
    #shopify-section-footer .menu_wrap {
        margin: auto;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    #shopify-section-footer .info_box {
        width: fit-content;
        height: unset;
    }
    
}
@media screen and (max-width: 768px){
    
    #shopify-section-footer .foot-wrap {
        flex-direction: column;
        justify-content: center;
    }
    #shopify-section-footer .img_wrap {
        margin: auto;
    }
    #shopify-section-footer .menu_wrap {
        max-width: 360px;
        padding: 3vw;
        width: 100%;
    }
    #shopify-section-footer .menu_box {
        text-align: center;
    }
    #shopify-section-footer .info_box {
        margin: auto;
        width: unset;
        text-align: center;
    }
}
{% endstyle %}

{% schema %}
    {
        "name": "Footer",
        "settings": [
            {
                "type": "header",
                "content": "Logo"
            },
            {
                "type": "image_picker",
                "id": "logo",
                "label": "Logo"
            },
            {
                "type": "header",
                "content": "Menu"
            },
            {
                "type": "link_list",
                "id": "footer_link_list",
                "label": "Footer menu",
                "default": "footer"
            },
            {
             "type": "header",
               "content": "Payment methods"
            },
            {
                "type": "checkbox",
                "id": "show_payment_icons",
                "label": "Show payment icons",
                "default": true
            },
            {
                "type": "header",
                "content": "Language Selector",
                "info": "To add a language, go to your [language settings.](/admin/settings/languages)"
            },
            {
                "type": "checkbox",
                "id": "show_locale_selector",
                "label": "Show language selector",
                "default": true
            },
            {
                "type": "header",
                "content": "Country/region Selector",
                "info": "To add a country/region, go to your [payment settings.](/admin/settings/payments)"
            },
            {
                "type": "checkbox",
                "id": "show_currency_selector",
                "label": "Show country/region selector",
                "default": true
            }
        ]
    }
{% endschema %}