<header {% if template == "index" %}class = "transparent"{% endif %}>
  <div class="logo">
    <a href="{{ routes.root_url }}" class="site-header__logo-link">{{ section.settings.logo_text}}</a>
  </div>
  <nav>
    <ul class="main_list">
      {% for link in linklists[section.settings.header_menu].links %}
        <li class="first_row_li">
          <a href="{{ link.url }}" class="list_title">{{ link.title }}</a>

          <ul class="sub_list">
            {% for childlink in link.links %}
              <li>
                <a href="{{ childlink.url }}">{{ childlink.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </li>
      {% endfor %}
    </ul>
  </nav>
  <div class="dqsno">
    <a href="{{ routes.search_url }}" class="site-nav__link site-nav__link--icon" >
      <span class="fallback-text">{{ 'general.search.title' | t }}</span>
    </a>

    {% if shop.customer_accounts_enabled %}
      <a class="site-nav__link site-nav__link--icon" href="{{ routes.account_url }}">
        <span class="fallback-text">
          {% if customer %}
            {{ 'layout.customer.account' | t }}
          {% else %}
            {{ 'layout.customer.log_in' | t }}
          {% endif %}
        </span>
      </a>
    {% endif %}

    <a href="{{ routes.cart_url }}" class="site-nav__link site-nav__link--icon cart-link">
      <span class="fallback-text">{{ 'layout.cart.title' | t }}</span>
      <span class="cart-link__bubble{% if cart.item_count > 0 %} cart-link__bubble--visible{% endif %}"></span>
    </a>
  </div>

</header>


{% style %}
#shopify-section-{{ section.id }} header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding: 39px 46px;
  transition: all 0.5s ease;

  <!-- height: 100px; -->
}
#shopify-section-{{ section.id }} header.transparent {
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
#shopify-section-{{ section.id }} header.fixed {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
#shopify-section-{{ section.id }} header:hover {
  background-color: white;
  height: auto;
}
#shopify-section-{{ section.id }} header .logo {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#shopify-section-{{ section.id }} header .logo a,
#shopify-section-{{ section.id }} header .dqsno a span {
  font-size: 12px;
  line-height: 14px;
}
#shopify-section-{{ section.id }} header .dqsno a {
  padding: 0;
  padding-left: 26px;
}
#shopify-section-{{ section.id }} header .cart-link__bubble {
  top: -2px;
  right: -10px
}
#shopify-section-{{ section.id }} header nav .main_list {
  display: flex;
  list-style-type: none;
}
#shopify-section-{{ section.id }} header nav .main_list .first_row_li {
  padding: 0 39px; 
}
#shopify-section-{{ section.id }} header nav .main_list .first_row_li a {
  font-size: 12px;
  line-height: 14px;
  padding-bottom: 4px;
}
#shopify-section-{{ section.id }} header nav .main_list .first_row_li:hover .list_title,
#shopify-section-{{ section.id }} header .dqsno a:hover span {
  border-bottom: 1px solid black;
}
#shopify-section-{{ section.id }} header nav .main_list .first_row_li:hover .sub_list {
  height: auto;
  max-height: 150px;
}
#shopify-section-{{ section.id }} header .sub_list {
  list-style-type: none;
  height: 0px;
  
  transition: all 0.5s ease;
  position: relative;
  max-height:0px;
  overflow:hidden;
}
#shopify-section-{{ section.id }} header .sub_list li a {
  color: #2D8541;
}
{% endstyle %}

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "text",
      "id": "logo_text",
      "label": "Brand text",
      "default": "Our brand"
    },
    {
      "type": "link_list",
      "id": "header_menu",
      "label": "Header menu"
    },
    {
      "type": "color",
      "id": "body_text",
      "label": "Body text",
      "default": "#ffffff"
    }
  ]
}
{% endschema %}
